.gallery{
    background-color: #bbcacc;
    padding-bottom: 20px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{
    margin: 10px 20px;
    height: auto;
    object-fit: contain;
}

.gallery .img1{
    display: block;
    max-width: 30%;
    height: auto;
    object-fit: contain;
}
.gallery .img2{
    display: block;
    max-width: 60%;
    height: auto;
    object-fit: contain;
}
.gallery .img3{
    display: block;
    max-width: 50%;
    height: auto;
    object-fit: contain;
}
.gallery .img4{
    display: block;
    max-width: 40%;
    height: auto;
    object-fit: contain;
  }
.gallery .img5{
    display: block;
    max-width: 30%;
    height: auto;
    object-fit: contain;
}
.gallery .img6{
    display: block;
    max-width: 40%;
    height: auto;
    object-fit: contain;
}
.gallery .img7{
    display: block;
    max-width: 27%;
    height: auto;
    object-fit: contain;
}
.gallery .img8{
    display: block;
    max-width: 34%;
    height: auto;
    object-fit: contain;
}
.gallery .img9{
    display: block;
    max-width: 27%;
    height: auto;
    object-fit: contain;
}
.gallery .img10{
    display: block;
    max-width: 40%;
    height: auto;
    object-fit: contain;
}
.gallery .img11{
    display: block;
    max-width: 35%;
    height: auto;
    object-fit: contain;
}
.gallery .img12{
    display: block;
    max-width: 30%;
    height: auto;
    object-fit: contain;
}
.gallery .img13{
    display: block;
    max-width: 50%;
    height: auto;
    object-fit: contain;
}
.gallery img{
    transition-duration: 0.5s;
}
.gallery img:hover{
    transform: scale(1.2);
}
.portfolio{
    padding: 30px 0;
    justify-content: center;
    display: flex;
    background-color: #bbcacc;
    text-shadow: #e0b9ca 4px 4px 4px;
    color: #478397;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 40px;
    font-family: 'Indie Flower', "Century Gothic";
}
.video{
    justify-content: center;
    display: flex;
}
video{
    width: 80%;
    height: 80%;
}